/* Specification */

body {
    font-family: 'PT Sans', sans-serif;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: #000;
}

h3 {
    font-weight: 400;
}

h2 {
    text-align: center;
}

/* First screen */

.header {
    background: #fcdb00;
    color: #010101;
    padding-top: 58px;
    padding-bottom: 105px;
}

.menu {
    margin-top: 8px;
}

.menu__item {
    margin: 0 44px;
}

.menu__item a {
    font-size: 22px;
    font-weight: 700;
    color: #000;
}

.offer {
    margin-top: 117px;
}

.offer__title {
    font-size: 32px;
    margin-bottom: 15px;
}

.offer__intro {
    font-size: 20px;
    line-height: 1.3em;
    color: #313841;
}

.offer__text {
    font-size: 16px;
    margin-top: 15px;
    color: #555555;
    width: 400px;
}

.icons__item {
    margin-right: 30px;
}

.icons__item a {
    color: #000;
    font-size: 42px;
    transition: all 0.3s ease;
}

.icons__item a:hover {
    text-decoration: none;
    color: #ff4800;
}

.ipad {
    display: block;
    margin: 60px auto 0;
}

/* Second screen */

.title {
    padding-top: 100px;
    padding-bottom: 70px;
    text-align: center;
}

.title__main {
    font-size: 32px;
}

.title__text {
    font-size: 20px;
    width: 780px;
    margin: 0 auto;
}

.feature {
    margin-bottom: 65px;
}

.feature__icon {
    color: #000;
    margin-right: 37px;
}

.feature__text {
    color: #898989;
}